body {
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 320px;
}

.quote-box {
  margin: 20px 0;
}

#quote {
  font-size: 18px;
}

#author {
  margin-top: 10px;
  font-style: italic;
  color: gray;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}
